*,
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(Merbabu.jpg);
  background-position: top center;
  background-size: 1950px;
  background-repeat: no-repeat;
  width: 1200px;
}

.navbar {
  background-color: darkcyan !important;
}

.ul-navbar {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-left: 900px;
}

.li-navbar {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
}

.li-navbar:hover {
  background-color: white;
  border-radius: 50px;
}

.img-content {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 0px;
  left: 50px;
}

.a-navbar {
  color: black;
  text-decoration: none;
}

.h1-name {
  color: rgb(33, 43, 14);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
  position: absolute;
  top: 20px;
  left: 170px;
}

.paragraf {
  font-size: 15px;
  color: white;
  position: absolute;
  margin-left: 700px;
  margin-top: 870px;
  width: 50%;
  text-align: justify;
}

.logo {
  height: 200px;
  width: 1000px;
  position: absolute;
  top: 250px;
  left: -300px;
}

.copyright {
  height: 30px;
  background-color: #182747;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 1920px;
}

.form {
  position: absolute;
  top: 1000px;
}

.cerita1 {
  color: aquamarine;
}
